---
layout: layouts/page
title: Tejaswita Singh
author: Tejaswita Singh
email: tejaswitasingh93@gmail.com
---
<div class="card">
    <h1 class="pink">Hi There! I am Tejaswita</h1>
    <p>I am a UX Developer with the background in Frontend Engineering.</p>
    <p>I build digital experiences that are beautiful and enjoyable.</p>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/contact'">Get in Touch</button>
</div>
<div class="card wrap">
    <h1>DUNZO</h1>
    <p>Dunzo is an all-in-one 24x7 delivery platform, that picks and delivers anything and everything within the city
        while gauranteeing super-quick delivery</p>
    <button type="button" class="btn btn-outlined" onclick="window.location.href='/work'">Read Case Study</button>
</div>