---
title: About
layout: layouts/page
---

<article class="leading-normal article">
  <p class="mb-2">
    I'm Tejaswita, a UI/UX designer and a web developer during the week and a painter at the weekends. I'm a keen photographer and usually take
    photos around Bangalore.............
  </p>

  <p>This website is a personal record of my design showcasex.</p>
</article>